@import "compass";

@media screen and (max-width:600px)
{
  hr{
    width:100% !important;
  }
  body{
    width:95%
    }
  .row{
    padding-bottom:0px !important;
    clear:both;
  }
  .id{
    float:right;

  }
  .butt{
    border: solid black 1px !important;

  }
  h1{
    padding-left:0px !important;
    float:left;
    padding-top:10px !important;
    margin:0;
  }
  h2{
    float:left;
  }
  .socia{
    padding-right:10;
    height:auto;
    width:40%;
    float:right;
    clear:both;
}


  .footer{
    position:relative !important;
    bottom:0;
    clear:both;

  }
  a {
    width:100%;
  }
}



h1{
padding-left:60%;
padding-top:20px;
font-family: Showcard Gothic;
}
h2{
  font-family: Showcard Gothic;
  color: PURPLE;
  margin:0;

}
.row{
  padding-bottom:80px;
}
.id{
  float:right;
  margin:0;

}
.butt{
  background: GREEN;
  color: BLACK;
  font-family:"Tw Cen MT Condensed";
  font-size:30px;
  height:50px;
  width:100px;
  border:0;

}
.butt:hover{

  background: #2E2E2E;
  color: WHITE;
  cursor:pointer;
}

a{
  text-decoration:none;
}

.row{
  padding-bottom: 250px;
}

.row2{
  text-align:center;

}
.socia{
  box-shadow: 10px 10px 5px #888888;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.socia:hover{
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}
.footer{
  position: absolute;
  bottom: 0px;
}
