@media screen and (max-width: 600px) {
  /* line 5, scss.scss */
  hr {
    width: 100% !important;
  }

  /* line 8, scss.scss */
  body {
    width: 95%;
  }

  /* line 11, scss.scss */
  .row {
    padding-bottom: 0px !important;
    clear: both;
  }

  /* line 15, scss.scss */
  .id {
    float: right;
  }

  /* line 19, scss.scss */
  .butt {
    border: solid black 1px !important;
  }

  /* line 23, scss.scss */
  h1 {
    padding-left: 0px !important;
    float: left;
    padding-top: 10px !important;
    margin: 0;
  }

  /* line 29, scss.scss */
  h2 {
    float: left;
  }

  /* line 32, scss.scss */
  .socia {
    padding-right: 10;
    height: auto;
    width: 40%;
    float: right;
    clear: both;
  }

  /* line 41, scss.scss */
  .footer {
    position: relative !important;
    bottom: 0;
    clear: both;
  }

  /* line 47, scss.scss */
  a {
    width: 100%;
  }
}
/* line 54, scss.scss */
h1 {
  padding-left: 60%;
  padding-top: 20px;
  font-family: Showcard Gothic;
}

/* line 59, scss.scss */
h2 {
  font-family: Showcard Gothic;
  color: PURPLE;
  margin: 0;
}

/* line 65, scss.scss */
.row {
  padding-bottom: 80px;
}

/* line 68, scss.scss */
.id {
  float: right;
  margin: 0;
}

/* line 73, scss.scss */
.butt {
  background: GREEN;
  color: BLACK;
  font-family: "Tw Cen MT Condensed";
  font-size: 30px;
  height: 50px;
  width: 100px;
  border: 0;
}

/* line 83, scss.scss */
.butt:hover {
  background: #2E2E2E;
  color: WHITE;
  cursor: pointer;
}

/* line 90, scss.scss */
a {
  text-decoration: none;
}

/* line 94, scss.scss */
.row {
  padding-bottom: 250px;
}

/* line 98, scss.scss */
.row2 {
  text-align: center;
}

/* line 102, scss.scss */
.socia {
  box-shadow: 10px 10px 5px #888888;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

/* line 107, scss.scss */
.socia:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 111, scss.scss */
.footer {
  position: absolute;
  bottom: 0px;
}
