@media screen and (max-width: 600px) {
  /* line 5, scss.scss */
  hr {
    width: 100% !important;
  }

  /* line 8, scss.scss */
  body {
    width: 95%;
  }

  /* line 11, scss.scss */
  .row {
    padding-bottom: 0px !important;
    clear: both;
  }

  /* line 15, scss.scss */
  .id {
    float: right;
  }

  /* line 19, scss.scss */
  h1 {
    padding-left: 0px !important;
    float: left;
    padding-top: 10px !important;
    margin: 0;
  }

  /* line 25, scss.scss */
  h2 {
    float: left;
  }

  /* line 28, scss.scss */
  .socia {
    padding-right: 10px;
    height: auto;
    width: 50%;
    float: right;
    clear: both;
  }

  /* line 36, scss.scss */
  .footer {
    width: 10%;
    float: left;
    height: auto;
    clear: both;
  }

  /* line 43, scss.scss */
  a {
    width: 100%;
  }
}
/* line 51, scss.scss */
h1 {
  padding-left: 60%;
  padding-top: 20px;
  font-family: Showcard Gothic;
}

/* line 56, scss.scss */
h2 {
  font-family: Showcard Gothic;
  color: PURPLE;
  margin: 0;
}

/* line 62, scss.scss */
.row {
  padding-bottom: 100px;
}

/* line 65, scss.scss */
.id {
  float: right;
  margin: 0;
}

/* line 71, scss.scss */
.butt :hover {
  border: 2px solid black;
  border-radius: 50px;
}

/* line 76, scss.scss */
.butt :target {
  border: 2px solid black;
}

/* line 79, scss.scss */
.row2 {
  text-align: center;
  padding-top: 25px;
}

/* line 83, scss.scss */
.socia {
  box-shadow: 10px 10px 5px #888888;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

/* line 88, scss.scss */
.socia:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
